* {
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 60px;
  color: #2c71bf;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  background-color: #cce6f5;             
  text-align: center;
  margin: 0 60px;
}


.box {
  padding: 40px 20px;
  border: 1px solid #b3d9ec;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.box img {
  width: 160px;
  height: 60px;
  margin-bottom: 15px;
}


.box p {
  font-weight: bold;
  font-size: 1.2em;
  color: #222;
}
.bottom{
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-top: 60px;
  color: #2c71bf;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
