:root {
  --base-color: #f7fbfc;
  --primary-color: #d6e6f2;
  --second-color: #b9d7ea;
  --tertiary-color: #769fcd;
  --accent-color: #2c71bf;
  --text-color: #1d2732;
}

.darkmode {
  --base-color: #000000;
  --primary-color: #0e1422;
  --second-color: #3e5c76;
  --tertiary-color: #748dac;
  --accent-color: #2c71bf;
  --text-color: #f7fbfc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--base-color);

}

nav {
  background-color: var(--second-color);
  border-bottom: 5px solid var(--tertiary-color);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  font-size: 23px;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--tertiary-color);
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.logo img {
  height: 55px;
}

.logo span {
  font-size: 32px;
  font-family: "Ranchers", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--second-color);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px var(--tertiary-color);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 55px;
  font-weight: normal;
  color: #ffffff;
}

.close-button:hover {
  color: var(--tertiary-color);
}

.menu-button {
  display: none;
}


h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 64px;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--accent-color);
}

h2 {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 29.3px;
  text-align: center;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background-color: var(--second-color);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
  color: #000;
  font-size: 22px;
  font-family: "Inter", serif;
  font-weight:400;
  font-style: normal;
  margin-bottom: -2px;
  margin-top: -3px; 
}

.modal-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 6px;
}

.grid-container button:hover {
  transform: scale(1.02);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid var(--tertiary-color);
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--tertiary-color);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: var(--base-color);
  color: var(--text-color);
  font-size:22px;
  font-family: "Inter", serif;
  font-weight:400;
  font-style: normal;
  width: 500px;
  max-width: 80%;
  padding: 0;
}

.modal-body {
  padding: 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 5;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}



@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}



@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
