:root{
  --base-color:#f7fbfc;  
  --primary-color:#d6e6f2;
  --second-color:#b9d7ea;
  --tertiary-color:#769fcd;
  --accent-color:#2c71bf;
  --text-color:#1d2732;
}
h1{
    font-size:55px;
    color:var(--accent-color);
    text-align: center;
}